<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Amazon</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/amazon.css') }}">
    </head>
    <body>
        {% for img in prodotti %}
        </a><img src="{{ img['Immagine'] }}" alt="{{ product.Nome }} width="300" height="300" /></a> <br />
        {% endfor %}
        <script src="{{ url_for('static', filename='js/amazon.js') }}"></script>
    </body>
</html>